<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin internet untuk WebView -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nama_aplikasi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeraDyahAyuPermatasari">
        <!-- Project lama (Chitato) tetap ada, tapi bukan halaman pertama -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!-- ===================== SIKUDA ===================== -->
        <!-- Guest: Beranda (halaman awal aplikasi) -->
        <activity
            android:name=".sikuda.guest.beranda.MainActivity"
            android:exported="true"
            android:label="@string/nama_aplikasi"
            android:theme="@style/Theme.Sikuda">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sikuda.guest.tentang.TentangActivity"
            android:exported="false"
            android:theme="@style/Theme.Sikuda" />
        <activity
            android:name=".sikuda.guest.layanan.LayananActivity"
            android:exported="false"
            android:theme="@style/Theme.Sikuda" />
        <activity
            android:name=".sikuda.auth.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Sikuda"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".sikuda.anggota.dashboard.DashboardAnggotaActivity"
            android:exported="false"
            android:theme="@style/Theme.Sikuda" />
        <activity
            android:name=".sikuda.keuangan.dashboard.DashboardKeuanganActivity"
            android:exported="false"
            android:theme="@style/Theme.Sikuda" />
        <activity
            android:name=".sikuda.pemilik.dashboard.DashboardPemilikActivity"
            android:exported="false"
            android:theme="@style/Theme.Sikuda" />
        <activity
            android:name=".sikuda.web.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.Sikuda" />
    </application>

</manifest>